In [22]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [23]:
import nltk

In [24]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [25]:
import pandas as pd

In [26]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [27]:
path1="/content/drive/MyDrive/Fake.csv"
path2="/content/drive/MyDrive/True.csv"
fake = pd.read_csv(path1)
genuine = pd.read_csv(path2)

In [28]:
fake.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
dtypes: object(4)
memory usage: 733.9+ KB

In [29]:
fake.subject.value_counts()

News               9050
politics           6841
left-news          4459
Government News    1570
US_News             783
Middle-east         778
Name: subject, dtype: int64

In [30]:
genuine.subject.value_counts()

politicsNews    11272
worldnews       10145
Name: subject, dtype: int64

In [31]:
fake['target'] = 0
genuine['target'] = 1

In [32]:
data = pd.concat([fake, genuine], axis=0)

In [33]:
data.head()

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0

[5 rows x 5 columns]

In [34]:
data = data.reset_index(drop=True)

In [35]:
data.head()

                                               title  ... target
0   Donald Trump Sends Out Embarrassing New Year’...  ...      0
1   Drunk Bragging Trump Staffer Started Russian ...  ...      0
2   Sheriff David Clarke Becomes An Internet Joke...  ...      0
3   Trump Is So Obsessed He Even Has Obama’s Name...  ...      0
4   Pope Francis Just Called Out Donald Trump Dur...  ...      0

[5 rows x 5 columns]

In [36]:
data=data.drop(['subject','date','title'], axis=1)
data.head()

                                                text  target
0  Donald Trump just couldn t wish all Americans ...       0
1  House Intelligence Committee Chairman Devin Nu...       0
2  On Friday, it was revealed that former Milwauk...       0
3  On Christmas day, Donald Trump announced that ...       0
4  Pope Francis used his annual Christmas Day mes...       0

In [37]:
print(data.columns)
print(data)

Index(['text', 'target'], dtype='object')
                                                    text  target
0      Donald Trump just couldn t wish all Americans ...       0
1      House Intelligence Committee Chairman Devin Nu...       0
2      On Friday, it was revealed that former Milwauk...       0
3      On Christmas day, Donald Trump announced that ...       0
4      Pope Francis used his annual Christmas Day mes...       0
...                                                  ...     ...
44893  BRUSSELS (Reuters) - NATO allies on Tuesday we...       1
44894  LONDON (Reuters) - LexisNexis, a provider of l...       1
44895  MINSK (Reuters) - In the shadow of disused Sov...       1
44896  MOSCOW (Reuters) - Vatican Secretary of State ...       1
44897  JAKARTA (Reuters) - Indonesia will buy 11 Sukh...       1

[44898 rows x 2 columns]

In [38]:
from nltk.tokenize import word_tokenize
data['text']=data['text'].apply(word_tokenize)

In [39]:
data

                                                    text  target
0      [Donald, Trump, just, couldn, t, wish, all, Am...       0
1      [House, Intelligence, Committee, Chairman, Dev...       0
2      [On, Friday, ,, it, was, revealed, that, forme...       0
3      [On, Christmas, day, ,, Donald, Trump, announc...       0
4      [Pope, Francis, used, his, annual, Christmas, ...       0
...                                                  ...     ...
44893  [BRUSSELS, (, Reuters, ), -, NATO, allies, on,...       1
44894  [LONDON, (, Reuters, ), -, LexisNexis, ,, a, p...       1
44895  [MINSK, (, Reuters, ), -, In, the, shadow, of,...       1
44896  [MOSCOW, (, Reuters, ), -, Vatican, Secretary,...       1
44897  [JAKARTA, (, Reuters, ), -, Indonesia, will, b...       1

[44898 rows x 2 columns]

In [40]:
from nltk.stem.snowball import SnowballStemmer
porter = SnowballStemmer("english", ignore_stopwords=False)

In [41]:
def stem_it(text):
    return [porter.stem(word) for word in text]

In [42]:
data['text']=data['text'].apply(stem_it)

In [43]:
data

                                                    text  target
0      [donald, trump, just, couldn, t, wish, all, am...       0
1      [hous, intellig, committe, chairman, devin, nu...       0
2      [on, friday, ,, it, was, reveal, that, former,...       0
3      [on, christma, day, ,, donald, trump, announc,...       0
4      [pope, franci, use, his, annual, christma, day...       0
...                                                  ...     ...
44893  [brussel, (, reuter, ), -, nato, alli, on, tue...       1
44894  [london, (, reuter, ), -, lexisnexi, ,, a, pro...       1
44895  [minsk, (, reuter, ), -, in, the, shadow, of, ...       1
44896  [moscow, (, reuter, ), -, vatican, secretari, ...       1
44897  [jakarta, (, reuter, ), -, indonesia, will, bu...       1

[44898 rows x 2 columns]

In [44]:
import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')
print(stopwords.words('english'))

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [45]:
def stop_it(t):
    dt = [word for word in t if len(word)>2] 
    return dt

In [46]:
data['text']=data['text'].apply(stop_it)

In [47]:
data

                                                    text  target
0      [donald, trump, just, couldn, wish, all, ameri...       0
1      [hous, intellig, committe, chairman, devin, nu...       0
2      [friday, was, reveal, that, former, milwauke, ...       0
3      [christma, day, donald, trump, announc, that, ...       0
4      [pope, franci, use, his, annual, christma, day...       0
...                                                  ...     ...
44893  [brussel, reuter, nato, alli, tuesday, welcom,...       1
44894  [london, reuter, lexisnexi, provid, legal, reg...       1
44895  [minsk, reuter, the, shadow, disus, soviet-era...       1
44896  [moscow, reuter, vatican, secretari, state, ca...       1
44897  [jakarta, reuter, indonesia, will, buy, sukhoi...       1

[44898 rows x 2 columns]

In [48]:
data['text']=data['text'].apply(' '.join)

In [49]:
data

                                                    text  target
0      donald trump just couldn wish all american hap...       0
1      hous intellig committe chairman devin nune hav...       0
2      friday was reveal that former milwauke sheriff...       0
3      christma day donald trump announc that would b...       0
4      pope franci use his annual christma day messag...       0
...                                                  ...     ...
44893  brussel reuter nato alli tuesday welcom presid...       1
44894  london reuter lexisnexi provid legal regulator...       1
44895  minsk reuter the shadow disus soviet-era facto...       1
44896  moscow reuter vatican secretari state cardin p...       1
44897  jakarta reuter indonesia will buy sukhoi fight...       1

[44898 rows x 2 columns]

In [50]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data['text'], data['target'], test_size=0.25)
display(X_train.head())
display(y_train.head())

40099    berlin reuter britain must choos from rang exi...
10623    the shooter the congression basebal practic ha...
20947    obama has shown favorit toward the muslim brot...
7721     republican have spent the last few year frenzi...
18743    from hanlon piec the new republ reject campus ...
Name: text, dtype: object

40099    1
10623    0
20947    0
7721     0
18743    0
Name: target, dtype: int64

In [51]:
from sklearn.feature_extraction.text import TfidfVectorizer
my_tfidf = TfidfVectorizer( max_df=0.7)
tfidf_train = my_tfidf.fit_transform(X_train)
tfidf_test = my_tfidf.transform(X_test)

In [52]:
print(tfidf_train)

  (0, 11670)	0.05372405711161809
  (0, 13938)	0.10272640772886936
  (0, 77303)	0.031132475393261375
  (0, 68809)	0.04651639566336966
  (0, 22087)	0.04982973782985855
  (0, 10603)	0.042452800035297444
  (0, 51168)	0.06800908576499735
  (0, 24354)	0.07541791008409877
  (0, 61023)	0.026353556635487538
  (0, 41463)	0.04839912933603592
  (0, 87446)	0.08009278847216789
  (0, 73468)	0.047945929213409504
  (0, 64302)	0.03408916709744221
  (0, 73115)	0.031054136550140624
  (0, 24489)	0.04227960055830316
  (0, 60522)	0.04017347644016161
  (0, 20616)	0.042664894118774055
  (0, 10817)	0.06143418956466228
  (0, 37712)	0.033450850813917465
  (0, 88644)	0.04112730151568855
  (0, 77179)	0.05178891774592908
  (0, 88021)	0.06710902867973961
  (0, 29200)	0.05840667332621321
  (0, 84431)	0.08029855683281807
  (0, 11413)	0.08022143095721143
  :	:
  (33672, 89232)	0.027657478123166372
  (33672, 29086)	0.04054706450619424
  (33672, 58946)	0.06610195651585027
  (33672, 36857)	0.041790886506787896
  (33672, 81115)	0.017213354049584434
  (33672, 80948)	0.07025510059560582
  (33672, 11057)	0.029789996338714445
  (33672, 73665)	0.03513002292485893
  (33672, 79523)	0.02651051677477768
  (33672, 49265)	0.023783114551722717
  (33672, 32952)	0.040681348889724446
  (33672, 17016)	0.018085250534527676
  (33672, 89323)	0.01998845751274833
  (33672, 87702)	0.029316217370588264
  (33672, 60406)	0.053943835779929915
  (33672, 86953)	0.06287260677858353
  (33672, 90249)	0.021895330221250446
  (33672, 48077)	0.05076374996475701
  (33672, 8005)	0.02101573852270669
  (33672, 48401)	0.03651528895531959
  (33672, 88459)	0.017910017141380477
  (33672, 37570)	0.016531225229575196
  (33672, 88300)	0.08926466094266008
  (33672, 33153)	0.01676456291710465
  (33672, 56300)	0.038492628636694316

In [53]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [54]:
model_1 = LogisticRegression(max_iter=900)
model_1.fit(tfidf_train, y_train)
pred_1 = model_1.predict(tfidf_test)
cr1    = accuracy_score(y_test,pred_1)
print(cr1*100)

98.78841870824053

In [55]:
from sklearn.linear_model import PassiveAggressiveClassifier
model = PassiveAggressiveClassifier(max_iter=50)
model.fit(tfidf_train, y_train)

PassiveAggressiveClassifier(C=1.0, average=False, class_weight=None,
                            early_stopping=False, fit_intercept=True,
                            loss='hinge', max_iter=50, n_iter_no_change=5,
                            n_jobs=None, random_state=None, shuffle=True,
                            tol=0.001, validation_fraction=0.1, verbose=0,
                            warm_start=False)

In [56]:
y_pred = model.predict(tfidf_test)
accscore = accuracy_score(y_test, y_pred)
print('The accuracy of prediction is ',accscore*100)

The accuracy of prediction is  99.61692650334075